body{
    margin:0;
    font-family: sans-serif;
}
h1 {
  color: blue;
}

#login-navbar{
    text-decoration: none;
    text-align: center;
    height:100px;
    width:100%;
    background-color: #0084BF;
}
#login-navbar a{
    float:right;
    text-decoration: none;
    position: relative;
    bottom:25px;
    right:50px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    margin-right: 10px;
}
#login-navbar a:hover{
    background-color: white; /* Green */
    color: red;
    border: 1px solid red;
    padding: 9px 17px;
}
#login-navbar h1{
    color:white;
    position: relative;
    top:30px;
}
#login-container{
    width:400px;
    height:200px;
    margin:auto;
    position: relative;
    top:220px;
    background-color: #F1F1F1;
    text-align: center;
    color:#363739
}

.login-text{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    height:40px;
    width:250px;
}

#login-button, #create-button, #update-button{
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

#login-button:hover, #create-button:hover, #update-button:hover{
    background-color: white; /* Green */
    color: #4CAF50;
    border: 1px solid #4CAF50
}

.create-text{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    height:40px;
    width:250px;
}

#create-account-container, #update-account-container{
    width:400px;
    margin:auto;
    position: relative;
    top:100px;
    background-color: #F1F1F1;
    text-align: center;
    margin-bottom: 30px;
}
 #update-account-container{
     width:400px;
     margin:auto;
     position: relative;
     top:150px;
     background-color: #F1F1F1;
     text-align: center;
 }
#create-account-container textarea{
    height:100px;
    text-align: left;
    font-size: 15px;
    border:none;
}
#update-account-container textarea{
    margin-top: 10px;
    height:100px;
    width:250px;
    text-align: left;
    font-size: 15px;
    border:none;
}

#profile-container{
    width: 500px;
    margin:auto;
    position: relative;
    top: 100px;
    background-color: #F1F1F1;
    text-align: center;
    font-family: sans-serif;
    color:#363739;
}
#profile-container img{
    margin-top: 30px;
    border-radius: 50%;
}
#profile-container p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.user-card{
    float:left;
    text-align: center;
    text-decoration: none;
    width:300px;
    height:320px;
    margin: 10px;
    background-color:#F1F1F1;
    border-radius: 10px;
    padding-top: 20px;
}
.user-card img{
    border-radius: 50%;
}

#search-container{
    width:960px;
    margin: auto;
    position: relative;
    top:50px;
}

@media screen and (max-width: 960px) {
    #search-container{
        width:650px;
        margin: auto;
        position: relative;
        top:50px;
    }
}

@media screen and (max-width: 650px) {
    #search-container{
        width:300px;
    }
}
@media screen and (max-width: 960px) {
    #login-navbar h1{
        display: none;
        position: absolute;
    }
    #login-navbar a{
        text-decoration: none;
        background-color: red;
        position:relative;
        top:33px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 18px;
    }
}
